<?xml version="1.0" encoding="utf-8"?>
<module version="0.2">
    <title xml:lang="ko">게시판 확장</title>
    <description xml:lang="ko">게시판 모듈 확장 기능</description>
    <version>1.2</version>
    <date>2026-01-22</date>
    <category>service</category>

    <author email_address="xiso@xiso.co.kr" link="http://xiso.co.kr">
        <name xml:lang="ko">xiso</name>
    </author>
    <author email_address="80san@moonhouse.co.kr" link="https://moonhouse.co.kr/">
        <name xml:lang="ko">80san</name>
    </author>

    <actions>
        <action name="dispBoard_extendAdminBoardList" type="view" standalone="true" admin_index="true" />
        <action name="dispBoard_extendAdminBoardModify" type="view" standalone="true" />
        <action name="procBoard_extendAdminWithOrder" type="controller" standalone="true" />
        <action name="procBoard_extendAdminBoardModify" type="controller" standalone="true" />
        <action name="procBoard_extendAdminFileDownload" type="controller" standalone="true" />
    </actions>
</module>